body{
	font-family: "Open Sans", sans-serif;
}
.top{
	background-image: url("images/background_header.png");
	background-position: center;
	background-size: 100%;
	height: 600px;
	position: relative;
}
.top h1{
	color: white;
	font-weight: normal;
	font-size: 75px;
	position: absolute;
	left: 100px;
	top: 150px;
}
.top h2{
	color: white;
	font-weight: normal;
	font-size: 40px;
	position: absolute;
	left: 100px;
	top: 10px;
}
.top h3{
	color: grey;
	font-weight: normal;
	font-size: 20px;
	position: absolute;
	top: 40px;
}
.top .h31{
	left: 500px;
}
.top .h32{
	left: 600px;
}
.top .h33{
	left: 700px;
}
.top h4{
	color: grey;
	font-weight: normal;
	width: 475px;
	font-size: 17px;
	text-align: center;
	position: absolute;
	top: 275px;
	left: 250px;
}
.top .text1{
	position: absolute;
	top: 365px;
	left: 200px;
	height: 40px;
	width: 335px;
	border-radius: 5px;
	color: #E6E6E6;
	padding-left: 25px;
}
.top .button1{
	position: absolute;
	top: 365px;
	left: 585px;
	height: 45px;
	width: 100px;
	border-radius: 5px;
	background-color: #15B925;
}
.top .button1 strong{
	color: white;
}
.middle{
	background: white;
	height: 250px;
}
.middle h1{
	color: green;
	font-weight: normal;
	padding-top: 30px;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 0px;
}
.middle p{
	color: grey;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 0px;
}
.middle2{
	height: 480px;
}
.middle2 .image{
	background-image: url("images/hair.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 50%;
	height: 100%;
	float: left;
}
.middle2 .col{
	background: #15B925;
	box-sizing: border-box;
	width: 50%;
	height: 100%;
	float: right;
	padding: 50px;
}
.middle2 .col h1{
	color: white;
	padding-top: 15px;
	font-weight: normal;
}
.middle2 .col p{
	color: white;
}
.middle2 .col .button2{
	height: 45px;
	width: 125px;
	border-radius: 5px;
	background-color: white;
}
.middle2 .col .button2 strong{
	color: #15B925;
}
.bottom{
	position: relative;
	background: white;
	height: 500px;
}
.bottom h2{
	position: absolute;
	color: grey;
	font-size: 30px;
	top: 50px;
	left: 75px;
}
.bottom .image1{
	position: absolute;
	top: 150px;
	left: 50px;
}
.bottom .image2{
	position: absolute;
	top: 150px;
	left: 350px;
}
.bottom .image3{
	position: absolute;
	top: 150px;
	left: 550px;
}
.bottom .image4{
	position: absolute;
	top: 150px;
	left: 750px;
}